@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Ilana Bloom';
	src: url("../fonts/Ilana Bloom Regular.otf");
}


/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

.navbar li a {
	color: black!important;
}

body {
	position: relative;
	height: 100%;
	color: #777777;
	color: #7f7f7f;
	font-weight: 400;
	font-size: 16px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	line-height: 1.8;
}

a {
	color: #65d269;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	outline: none;
	color: #65d269;
}

p {
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	text-transform: none !important;
	font-weight: 400;
	font-family: 'Ilana Bloom';
}

::-webkit-selection {
	background: #f9f6f0;
	color: #818892;
}

::-moz-selection {
	background: #f9f6f0;
	color: #818892;
}

::selection {
	background: #f9f6f0;
	color: #818892;
}

#fh5co-header {
	position: absolute;
	top: 0;
	z-index: 99;
	margin-top: 20px;
	width: 100%;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	#fh5co-header {
		margin-top: 0;
		background: #fff;
		-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

		-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	}
	#fh5co-header .navbar-brand {
		color: #65d269 !important;
	}
	#fh5co-header #navbar li a {
		color: rgba(0, 0, 0, 0.5) !important;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	#fh5co-header #navbar li a:hover {
		color: #65d269 !important;
	}
	#fh5co-header #navbar li a span:before {
		background: transparent !important;
	}
	#fh5co-header #navbar li.active a {
		background: transparent;
		background: none;
		color: #65d269 !important;
	}
	#fh5co-header #navbar li.active a span:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

#fh5co-header .navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}

#fh5co-header #navbar li a {
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	font-family: "Source Sans Pro", Arial, sans-serif;
}

#fh5co-header #navbar li a span {
	position: relative;
	display: block;
	padding-bottom: 2px;
}

#fh5co-header #navbar li a span:before {
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 2px;
	background-color: #65d269;
	content: "";
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
}

#fh5co-header #navbar li a:hover {
	color: #fff;
}

#fh5co-header #navbar li a:hover span:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

#fh5co-header #navbar li.active a {
	background: transparent;
	background: none;
	color: #fff;
}

#fh5co-header #navbar li.active a span:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#fh5co-header .navbar-brand {
	display: block;
	float: left;
	padding-left: 0;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}

#fh5co-header.navbar-fixed-top {
	position: fixed !important;
	top: 0;
	margin-top: 0px;
	background: #fff;
	-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

	-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}

#fh5co-header.navbar-fixed-top .navbar-brand {
	color: #65d269;
}

#fh5co-header.navbar-fixed-top #navbar li a {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#fh5co-header.navbar-fixed-top #navbar li a:hover {
	color: #65d269;
}

#fh5co-header.navbar-fixed-top #navbar li.active a {
	background: transparent;
	background: none;
	color: #65d269;
}

#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#fh5co-header .navbar-default {
	border: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: transparent;

	-ms-border-radius: 0px;
}

@media screen and (max-width: 768px) {
	#fh5co-header .navbar-default {
		margin-top: 0px;
		padding-right: 0px;
		padding-left: 0px;
	}
}

#fh5co-header .navbar-default .brand-slogan {
	float: left;
	margin: 28px 0 0 15px;
	color: #adadad;
	letter-spacing: 2px;
}

#fh5co-header .navbar-default .brand-slogan em {
	color: #65d269;
	font-style: normal;
}

#fh5co-header a {
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.section-heading {
	float: left;
	clear: both;
	margin-bottom: 50px;
	padding-bottom: 50px;
	width: 100%;
}

.section-heading h2 {
	position: relative;
	display: block;
	padding-bottom: 20px;
	color: #444;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 50px;
	line-height: 1.5;
}

.section-heading h2:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	margin-left: -40px;
	width: 80px;
	height: 2px;
	background: #65d269;
	content: "";
}

@media screen and (max-width: 768px) {
	.section-heading h2 {
		font-size: 30px;
	}
}

.section-heading h3 {
	color: #929292;
	font-weight: 300;
	line-height: 1.5;
}

@media screen and (max-width: 768px) {
	.section-heading h3 {
		font-size: 24px !important;
		line-height: 34px;
	}
}

.btn {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#fh5co-our-services,
#fh5co-about-us,
#fh5co-features,
#fh5co-testimonials,
#fh5co-pricing,
#fh5co-press {
	padding: 7em 0;
}

#fh5co-about-us .container {
	width: 85%;
}

#fh5co-about-us .bg_team {
	padding: 50px;
	background-image: url('../images/bg_team.jpg');
	background-size: 100% 120%;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
	#fh5co-our-services,
	#fh5co-about-us,
	#fh5co-features,
	#fh5co-testimonials,
	#fh5co-pricing,
	#fh5co-press {
		padding: 5em 0;
	}
}

#fh5co-testimonials {
	background: #65d269;
}

#fh5co-testimonials .section-heading h2 {
	color: white;
}

#fh5co-testimonials .section-heading h2:after {
	background: rgba(255, 255, 255, 0.2);
}

#fh5co-testimonials .section-heading .subtext h3 {
	color: rgba(255, 255, 255, 0.5);
}

#fh5co-testimonials .box-testimony {
	float: left;
	margin-bottom: 2em;
}

#fh5co-testimonials .box-testimony a {
	color: rgba(255, 255, 255, 0.5);
}

#fh5co-testimonials .box-testimony a:hover,
#fh5co-testimonials .box-testimony a:focus,
#fh5co-testimonials .box-testimony a:active {
	color: white;
	text-decoration: none;
}

#fh5co-testimonials .box-testimony blockquote {
	position: relative;
	padding: 40px;
	border-left: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff;

	-ms-border-radius: 4px;
}

#fh5co-testimonials .box-testimony blockquote:after {
	position: absolute;
	top: 100%;
	left: 40px;
	border-top: 15px solid black;
	border-top-color: #fff;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	content: "";
}

#fh5co-testimonials .box-testimony blockquote .quote {
	position: absolute;
	top: 0;
	left: 10px;
	display: table;
	margin-top: -30px;
	width: 56px;
	height: 56px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #65d269;
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 0;

	-ms-border-radius: 50%;
}

#fh5co-testimonials .box-testimony blockquote .quote>span {
	display: table-cell;
	vertical-align: middle;
}

#fh5co-testimonials .box-testimony blockquote p {
	font-style: italic;
}

#fh5co-testimonials .box-testimony .author {
	margin-left: 20px;
	color: white;
	font-size: 20px;
	line-height: 20px;
}

#fh5co-testimonials .box-testimony .author .subtext {
	display: block;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
}

#fh5co-pricing .price-box {
	position: relative;
	margin-bottom: 40px;
	padding: 30px;
	border: 2px solid #ECEEF0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

	-ms-border-radius: 5px;
}

#fh5co-pricing .price-box.popular {
	border: 2px solid #65d269;
}

#fh5co-pricing .price-box.popular .popular-text {
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: -2em;
	margin-left: -54px;
	padding: 4px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #65d269;
	color: #fff;

	-ms-border-radius: 4px;
}

#fh5co-pricing .price-box.popular .popular-text:after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-top: 10px solid black;
	border-top-color: #65d269;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	content: "";
}

#fh5co-pricing .pricing-plan {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 15px;
}

#fh5co-pricing .price {
	color: #000;
	font-size: 50px;
}

#fh5co-pricing .price .currency {
	top: -1.2em;
	font-size: 20px;
}

#fh5co-pricing .price small {
	font-size: 16px;
}

#fh5co-pricing .pricing-info {
	margin: 0 0 30px 0;
	padding: 0;
}

#fh5co-pricing .pricing-info li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#fh5co-our-services,
#fh5co-press {
	background: #f4f4f4;
}

#fh5co-our-services .box {
	position: relative;
	margin-bottom: 70px;
	padding: 30px;
	background: #fff;
	color: #7f7f7f;
	text-align: center;
}

@media screen and (max-width: 992px) {
	#fh5co-our-services .box {
		margin-bottom: 60px;
		min-height: inherit;
	}
}

#fh5co-our-services .box .icon {
	position: relative;
	top: 0;
	display: table;
	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 30px;
	width: 85px;
	height: 85px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;

	-ms-border-radius: 50%;
}

#fh5co-our-services .box .icon>span {
	display: table-cell;
	vertical-align: middle;
}

#fh5co-our-services .box .icon>span i {
	margin: 0;
	padding: 0;
	color: #fff !important;
	font-size: 40px;
}

#fh5co-our-services .box .icon.colored-1 {
	background: #2aaf67;
}

#fh5co-our-services .box .icon.colored-2 {
	background: #00bff3;
}

#fh5co-our-services .box .icon.colored-3 {
	background: #f26522;
}

#fh5co-our-services .box .icon.colored-4 {
	background: #e52b50;
}

#fh5co-our-services .box .icon.colored-5 {
	background: #2fc5cc;
}

#fh5co-our-services .box .icon.colored-6 {
	background: #6173f4;
}

#fh5co-our-services .box .step-number {
	display: block;
	margin-bottom: 10px;
	color: #d1d1d1;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 16px;
}

#fh5co-our-services .box h3 {
	margin: 0 0 20px 0;
	padding: 0;
	color: #444;
	font-weight: 400;
	font-size: 20px;
}

#fh5co-features {
	padding: 7em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-features {
		padding: 4em 0;
	}
}

#fh5co-features .fh5co-service {
	float: left;
	margin-bottom: 30px;
}

#fh5co-features .fh5co-service .fh5co-icon {
	float: left;
	width: 20%;
}

#fh5co-features .fh5co-service .fh5co-icon i {
	color: #65d269;
	font-size: 40px;
}

#fh5co-features .fh5co-service .fh5co-desc {
	float: right;
	width: 80%;
}

#fh5co-features .fh5co-service .fh5co-desc h3 {
	margin-top: 0;
	font-size: 18px;
}

#fh5co-press .fh5co-press-item {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff;

	-ms-border-radius: 4px;
}

@media screen and (max-width: 480px) {
	#fh5co-press .fh5co-press-item {
		display: block !important;
	}
}

#fh5co-press .fh5co-press-item .fh5co-press-text,
#fh5co-press .fh5co-press-item .fh5co-press-img {
	width: 50%;
}

@media screen and (max-width: 480px) {
	#fh5co-press .fh5co-press-item .fh5co-press-text,
	#fh5co-press .fh5co-press-item .fh5co-press-img {
		display: block !important;
		float: none !important;
		width: 100%;
		height: inherit;
	}
}

#fh5co-press .fh5co-press-item .fh5co-press-text {
	float: left;
	padding: 20px;
}

#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	color: #444;
	font-weight: 400;
	font-size: 20px;
}

#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title .fh5co-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background: #65d269;
}

#fh5co-press .fh5co-press-item .fh5co-press-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
}

@media screen and (max-width: 480px) {
	#fh5co-press .fh5co-press-item .fh5co-press-img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
	}
}

.fh5co-nav-toggle {
	width: 25px;
	height: 25px;
	text-decoration: none;
	cursor: pointer;
}

.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
	background: #65d269;
}

.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
	outline: none;
	border-bottom: none !important;
}

.fh5co-nav-toggle i {
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	width: 25px;
	height: 3px;
	background: #65d269;
	color: #65d269;
	text-indent: -55px;
	text-transform: uppercase;
	font: bold 14px/.4 Helvetica;
	transition: all .2s ease-out;
	zoom: 1;

	*display: inline;
}

.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
	position: absolute;
	left: 0;
	width: 25px;
	height: 3px;
	background: #65d269;
	content: '';
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.fh5co-nav-toggle i::before {
	top: -7px;
}

.fh5co-nav-toggle i::after {
	bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
	top: -10px;
}

.fh5co-nav-toggle:hover i::after {
	bottom: -10px;
}

.fh5co-nav-toggle.active i {
	background: transparent;
}

.fh5co-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
	position: absolute;
	top: 12px;
	right: 0px;
	z-index: 21;
	display: block;
	display: none;
	margin: 0 auto;
	padding: 6px 0 0 0;
	width: 44px;
	height: 44px;
	border-bottom: none !important;
}

@media screen and (max-width: 768px) {
	.fh5co-nav-toggle {
		display: block;
	}
}

.person {
	float: left;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

.person img {
	display: block;
	margin: 0 auto;
	height: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-ms-border-radius: 50%;
}

.person .name {
	font-size: 24px;
}

.person .position {
	margin-bottom: 30px;
	color: #c3c3c3;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#footer {
	padding: 50px 0;
	color: #7f7f7f;
}

#footer .copyright {
	margin-bottom: 0px;
	padding-bottom: 0;
}

.btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn.btn-primary {
	border: none !important;
	border: 2px solid transparent !important;
	background: #65d269;
	color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
	background: #65d269;
	box-shadow: none;
}

.btn:hover,
.btn:active,
.btn:focus {
	outline: none !important;
	background: #393e46 !important;
	color: #fff;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
	border-color: transparent;
}

.social {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.social li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.social li a {
	display: table;
	margin: 0 4px;
	width: 40px;
	height: 40px;
	font-size: 16px;
}

.social li a i {
	display: table-cell;
	vertical-align: middle;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	border-bottom: none;
	text-decoration: none;
}

.social li a.social-box {
	background: #65d269;
	color: #fff;
}

.social li a.social-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #65d269;
	color: #fff;

	-ms-border-radius: 50%;
}

.social li a:hover {
	background: #393e46 !important;
}

.social.social-box a {
	background: #65d269;
	color: #fff;
}

.social.social-circle a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #65d269;
	color: #fff;

	-ms-border-radius: 50%;
}

.owl-carousel .owl-controls .owl-nav {
	opacity: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.owl-carousel:focus .owl-controls .owl-nav,
.owl-carousel:hover .owl-controls .owl-nav,
.owl-carousel:active .owl-controls .owl-nav {
	opacity: 1;
}

.owl-carousel .btn-primary:hover,
.owl-carousel .btn-primary:focus,
.owl-carousel .btn-primary:active {
	border: 2px solid #fff !important;
	background: transparent !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
	margin-top: 0;
}

@media screen and (max-width: 768px) {
	.owl-carousel .owl-controls .owl-nav {
		display: none;
	}
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
	position: absolute;
	top: 50%;
	z-index: 9999;
	margin-top: -29px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
	color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
	right: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
	right: 10px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
	color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
	left: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
	left: 10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
	color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
	color: #444;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
	color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
	color: #fff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
	color: #fff;
}

@media screen and (max-width: 768px) {
	.owl-theme .owl-controls .owl-nav {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
	font-size: 30px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
	background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
	background: none !important;
}

.owl-theme .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: 0;
	margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	background: rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.owl-theme .owl-dots .owl-dot span:hover {
	background: none;
	background: white;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	border: 2px solid #fff;
	background: white;
	background: transparent;
}

.owl-carousel-fullwidth .item,
.owl-carousel-fullwidth .fh5co-owl-text-wrap {
	display: table;
	width: 100%;
	height: 800px;
}

@media screen and (max-width: 768px) {
	.owl-carousel-fullwidth .item,
	.owl-carousel-fullwidth .fh5co-owl-text-wrap {
		padding: 5em 0;
		height: inherit;
	}
}

.owl-carousel-fullwidth .fh5co-owl-text-wrap {
	position: relative;
}

.owl-carousel-fullwidth .item {
	position: relative;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
}

.owl-carousel-fullwidth .item .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8;
	background: rgba(0, 0, 0, 0.5);
}

.owl-carousel-fullwidth .item img {
	max-width: 100%;
}

.owl-carousel-fullwidth .item .iphone-image {
	position: relative;
	z-index: 99;
}

.owl-carousel-fullwidth .item .iphone-image .iphone {
	position: relative;
	bottom: -12em;
	float: right;
	text-align: right;
}

@media screen and (max-width: 768px) {
	.owl-carousel-fullwidth .item .iphone-image .iphone {
		bottom: 0em;
		display: block;
		float: none !important;
		margin: 0 auto;
		text-align: center;
	}
}

.owl-carousel-fullwidth .item .iphone-image .iphone img {
	max-width: 100%;
}

.owl-carousel-fullwidth .item .fh5co-owl-text {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
}

.owl-carousel-fullwidth .item .fh5co-owl-text a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
}

.owl-carousel-fullwidth .item .fh5co-owl-text a:hover {
	border-bottom: 1px solid white;
	color: white;
	text-decoration: none;
}

.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead,
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead-2,
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
	margin: 0;
	padding: 0;
	color: #fff;
}

.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
}

@media screen and (max-width: 768px) {
	.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 30px;
	}
}

.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
	margin-bottom: 30px;
	color: white;
	font-weight: 100;
	font-size: 30px;
	line-height: 30px;
	line-height: 42px;
}

@media screen and (max-width: 768px) {
	.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
		font-size: 24px;
		line-height: 34px;
	}
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
	opacity: 0;
}

@media screen and (max-width: 480px) {
	.col-xxs-12 {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-lg {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-md {
	padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-md {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-sm {
	padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-sm {
		padding-bottom: 2em;
	}
}

.fh5co-animated {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}


/*# sourceMappingURL=green.css.map */