$font-primary: 'Source Sans Pro',
Arial,
sans-serif;
// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;
// $brand-primary: #6173f4 !default; // purple
// $brand-primary: #f64662 !default; // pink
// $brand-primary: #2185d5 !default; // blue
// $brand-primary: #00b8a9 !default; // turquoise
// $brand-primary: #ff6600 !default; // orange
// $brand-primary: #5585b5 !default; // lightblue
// $brand-primary: #a03232 !default; // brown
$brand-primary: #65d269 !default; // green
$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;
$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;
// Mixin
@mixin transition($transition) {
	-webkit-transition: $transition ease-in;
	-moz-transition: $transition ease-in;
	-ms-transition: $transition ease-in;
	-o-transition: $transition ease-in;
	transition: $transition ease-in;
}

@mixin inline-block() {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;

	*display: inline;
}

@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-ms-border-radius: $radius;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?srf3rx');
	src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'), url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'), url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
}

@mixin icomoon() {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;

	speak: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Import
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

// Template Base
body {
	position: relative;
	height: 100%;
	background: $brand-bg-color;
	color: lighten($brand-darker, 20%);
	color: #7f7f7f;
	font-weight: 400;
	font-size: 16px;
	font-family: $font-primary;
	line-height: 1.8;
}

a {
	color: $brand-primary;

	@include transition(.5s);
	&:hover,
	&:active,
	&:focus {
		outline: none;
		color: $brand-primary;
	}
}

p {
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $brand-black;
	font-weight: 400;
	font-family: $font-primary;
}

::-webkit-selection {
	background: $brand-selection-color;
	color: $brand-body-color;
}

::-moz-selection {
	background: $brand-selection-color;
	color: $brand-body-color;
}

::selection {
	background: $brand-selection-color;
	color: $brand-body-color;
}

#fh5co-header {
	// position: relative;
	position: absolute;
	top: 0;
	z-index: 99;
	margin-top: 20px;
	width: 100%;
	opacity: 1;
	@media screen and (max-width: $screen-sm) {
		margin-top: 0;
		background: $brand-white;
		-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);

		-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		.navbar-brand {
			color: $brand-primary!important;
		}
		#navbar {
			li {
				a {
					color: rgba(0, 0, 0, .5)!important;

					@include transition(.3s);
					&:hover {
						color: $brand-primary!important;
					}
					span {
						&:before {
							background: transparent!important;
						}
					}
				}
				&.active {
					a {
						background: transparent;
						background: none;
						color: $brand-primary!important;
						span {
							&:before {
								visibility: visible;
								-webkit-transform: scaleX(1);
								transform: scaleX(1);
							}
						}
					}
				}
			}
		}
	} // padding-top: 15px;
	.navbar {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#navbar {
		li {
			a {
				position: relative;
				color: rgba(255, 255, 255, .5); // color: #dadada;
				font-family: $font-primary;
				span {
					position: relative;
					display: block;
					padding-bottom: 2px;
					&:before {
						position: absolute;
						bottom: 0;
						left: 0;
						visibility: hidden;
						width: 100%;
						height: 2px;
						background-color: $brand-primary;
						content: "";
						-webkit-transition: all 0.3s ease-in-out 0s;
						-moz-transition: all 0.3s ease-in-out 0s;
						-ms-transition: all 0.3s ease-in-out 0s;
						-o-transition: all 0.3s ease-in-out 0s;
						transition: all 0.3s ease-in-out 0s;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
					}
				}
				&:hover {
					// color: $brand-primary;
					color: $brand-white; // color: rgba(255,255,255,1);
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
			&.active {
				a {
					background: transparent;
					background: none;
					color: $brand-white;
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
	.navbar-brand {
		display: block;
		float: left;
		padding-left: 0;
		color: $brand-white;
		font-weight: 700;
		font-size: 30px;
	}
	&.navbar-fixed-top {
		position: fixed!important;
		top: 0;
		margin-top: 0px;
		background: $brand-white;
		-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);

		-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
		.navbar-brand {
			color: $brand-primary;
		}
		#navbar {
			li {
				a {
					color: rgba(0, 0, 0, .5);

					@include transition(.3s);
					&:hover {
						color: $brand-primary;
					}
				}
				&.active {
					a {
						background: transparent;
						background: none;
						color: $brand-primary;
						span {
							&:before {
								visibility: visible;
								-webkit-transform: scaleX(1);
								transform: scaleX(1);
							}
						}
					}
				}
			}
		}
	}
	.navbar-default {
		border: transparent;
		background: transparent;

		@include border-radius(0px); // padding-right: 30px;
		// padding-left: 10px;
		@media screen and (max-width: $screen-sm) {
			margin-top: 0px;
			padding-right: 0px;
			padding-left: 0px;
		}
		.brand-slogan {
			float: left;
			margin: 28px 0 0 15px;
			color: #adadad;
			letter-spacing: 2px;
			em {
				color: $brand-primary;
				font-style: normal;
			}
		}
	}
	a {
		@include transition(.0s);
	}
}

.section-heading {
	float: left;
	clear: both;
	margin-bottom: 50px;
	padding-bottom: 50px;
	width: 100%;
	h2 {
		position: relative;
		display: block;
		padding-bottom: 20px;
		color: #444;
		text-transform: uppercase;
		font-weight: 300; // letter-spacing: 2px;
		font-size: 50px;
		line-height: 1.5;
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			display: block;
			margin-left: -40px;
			width: 80px;
			height: 2px;
			background: $brand-primary;
			content: "";
		}
		@media screen and (max-width: $screen-sm) {
			font-size: 30px;
		}
	}
	h3 {
		color: #929292;
		font-weight: 300;
		line-height: 1.5;
		@media screen and (max-width: $screen-sm) {
			font-size: 24px!important;
			line-height: 34px;
		}
	}
}

.btn {
	@include transition(.3s);
}

#fh5co-our-services,
#fh5co-about-us,
#fh5co-features,
#fh5co-testimonials,
#fh5co-pricing,
#fh5co-press {
	padding: 7em 0;
	@media screen and (max-width: $screen-xs) {
		padding: 5em 0;
	}
}

#fh5co-about-us {
	background-image: url('../images/bg_team.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

#fh5co-testimonials {
	background: $brand-primary;
	.section-heading {
		h2 {
			color: rgba(255, 255, 255, 1);
			&:after {
				background: rgba(255, 255, 255, .2);
			}
		}
		.subtext {
			h3 {
				color: rgba(255, 255, 255, .5);
			}
		}
	}
	.box-testimony {
		float: left;
		margin-bottom: 2em;
		a {
			color: rgba(255, 255, 255, .5);
			&:hover,
			&:focus,
			&:active {
				color: rgba(255, 255, 255, 1);
				text-decoration: none;
			}
		}
		blockquote {
			position: relative;
			padding: 40px;
			padding-left: 0;
			border-left: none;
			background: $brand-white;

			@include border-radius(4px);
			&:after {
				position: absolute;
				top: 100%;
				left: 40px;
				border-top: 15px solid black;
				border-top-color: $brand-white;
				border-right: 15px solid transparent;
				border-left: 15px solid transparent;
				content: "";
			}
			.quote {
				position: absolute;
				top: 0;
				left: 10px;
				display: table;
				margin-top: -30px;
				width: 56px;
				height: 56px;
				background: $brand-primary;
				color: $brand-white;
				text-align: center;
				font-size: 30px;
				line-height: 0;

				@include border-radius(50%);
				>span {
					display: table-cell;
					vertical-align: middle;
				}
			}
			p {
				font-style: italic;
			}
		}
		.author {
			margin-left: 20px;
			color: rgba(255, 255, 255, 1);
			font-size: 20px;
			line-height: 20px;
			.subtext {
				display: block;
				color: rgba(255, 255, 255, .5);
				font-size: 16px;
			}
		}
	}
}

#fh5co-pricing {
	.price-box {
		position: relative;
		margin-bottom: 40px;
		padding: 30px;
		border: 2px solid #ECEEF0;
		text-align: center;

		@include border-radius(5px);
		&.popular {
			border: 2px solid $brand-primary;
			.popular-text {
				position: absolute;
				top: 0;
				left: 50%;
				margin-top: -2em;
				margin-left: -54px;
				padding: 4px 20px;
				background: $brand-primary;
				color: $brand-white;

				@include border-radius(4px);
				&:after {
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -10px;
					border-top: 10px solid black;
					border-top-color: $brand-primary;
					border-right: 10px solid transparent;
					border-left: 10px solid transparent;
					content: "";
				}
			}
		}
	}
	.pricing-plan {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		font-size: 15px;
	}
	.price {
		color: $brand-black;
		font-size: 50px;
		.currency {
			top: -1.2em;
			font-size: 20px;
		}
		small {
			font-size: 16px;
		}
	}
	.pricing-info {
		margin: 0 0 30px 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;
		}
	}
}

#fh5co-our-services,
#fh5co-press {
	background: #f4f4f4;
}

#fh5co-our-services {
	.box {
		position: relative;
		margin-bottom: 70px; // min-height: 360px;
		padding: 30px;
		background: $brand-white;
		color: #7f7f7f;
		text-align: center;
		@media screen and (max-width: $screen-md) {
			margin-bottom: 60px;
			min-height: inherit;
		}
		.icon {
			position: relative;
			top: 0;
			display: table;
			margin: 0 auto; // top: -70px;
			margin-top: -70px;
			margin-bottom: 30px;
			width: 85px;
			height: 85px;
			text-align: center;

			@include border-radius(50%);
			>span {
				display: table-cell;
				vertical-align: middle;
				i {
					margin: 0;
					padding: 0;
					color: $brand-white!important;
					font-size: 40px;
				}
			}
			&.colored-1 {
				background: #2aaf67;
			}
			&.colored-2 {
				background: #00bff3;
			}
			&.colored-3 {
				background: #f26522;
			}
			&.colored-4 {
				background: #e52b50;
			}
			&.colored-5 {
				background: #2fc5cc;
			}
			&.colored-6 {
				background: #6173f4;
			}
		}
		.step-number {
			display: block;
			margin-bottom: 10px;
			color: #d1d1d1;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			font-size: 16px;
		}
		h3 {
			margin: 0 0 20px 0;
			padding: 0;
			color: $brand-darker;
			font-weight: 400;
			font-size: 20px;
		}
	}
}

#fh5co-features {
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 4em 0;
	}
	.fh5co-service {
		float: left;
		margin-bottom: 30px;
		.fh5co-icon {
			float: left;
			width: 20%; // border: 1px solid red;
			i {
				color: $brand-primary;
				font-size: 40px;
			}
		}
		.fh5co-desc {
			float: right;
			width: 80%; // border: 1px solid red;
			h3 {
				margin-top: 0;
				font-size: 18px;
			}
		}
	}
}

#fh5co-press {
	.fh5co-press-item {
		position: relative;
		float: left;
		overflow: hidden;
		margin-bottom: 30px;
		background: $brand-white;

		@include flex;
		@include border-radius(4px);
		@media screen and (max-width: $screen-xs) {
			display: block!important;
		}
		.fh5co-press-text,
		.fh5co-press-img {
			width: 50%;
			@media screen and (max-width: $screen-xs) {
				display: block!important;
				float: none!important;
				width: 100%;
				height: inherit;
			}
		}
		.fh5co-press-text {
			float: left;
			padding: 20px;
			.fh5co-press-title {
				position: relative;
				margin: 0 0 20px 0;
				padding: 0 0 10px 0;
				color: $brand-darker;
				font-weight: 400;
				font-size: 20px;
				.fh5co-border {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 30px;
					height: 2px;
					background: $brand-primary;
				}
			}
		}
		.fh5co-press-img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			@media screen and (max-width: $screen-xs) {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				height: 200px;
			}
		}
	}
}

// Burger Menu
.fh5co-nav-toggle {
	width: 25px;
	height: 25px;
	text-decoration: none;
	cursor: pointer;
	&.active i {
		&::before,
		&::after {
			background: $brand-primary;
		}
	}
	&:hover,
	&:focus,
	&:active {
		outline: none;
		border-bottom: none!important;
	}
	i {
		position: relative;
		width: 25px;
		height: 3px;
		background: $brand-primary;
		color: $brand-primary;
		text-indent: -55px;
		text-transform: uppercase;
		font: bold 14px/.4 Helvetica;
		transition: all .2s ease-out;

		@include inline-block;
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 25px;
			height: 3px;
			background: $brand-primary;
			content: '';

			@include transition(.2s);
		}
	}
}

.fh5co-nav-toggle i::before {
	top: -7px;
}

.fh5co-nav-toggle i::after {
	bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
	top: -10px;
}

.fh5co-nav-toggle:hover i::after {
	bottom: -10px;
}

.fh5co-nav-toggle.active i {
	background: transparent;
}

.fh5co-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
	position: absolute;
	top: 12px;
	right: 0px;
	z-index: 21;
	display: block;
	display: none;
	margin: 0 auto;
	padding: 6px 0 0 0;
	width: 44px;
	height: 44px;
	border-bottom: none!important;
	@media screen and (max-width: $screen-sm) {
		display: block;
	}
}

// Person
.person {
	float: left;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
		height: 150px;

		@include border-radius(50%);
	}
	.name {
		font-size: 24px;
	}
	.position {
		margin-bottom: 30px;
		color: darken($brand-lighter, 15%);
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

#footer {
	padding: 50px 0;
	color: #7f7f7f; // color: #d6d6d6;
	.copyright {
		margin-bottom: 0px;
		padding-bottom: 0;
	}
}

.btn {
	text-transform: uppercase;
	letter-spacing: 2px;

	@include transition(.3s);
	&.btn-primary {
		border: none!important;
		border: 2px solid transparent!important;
		background: $brand-primary;
		color: $brand-white;
		&:hover,
		&:active,
		&:focus {
			background: $brand-primary;
			box-shadow: none;
		}
	}
	&:hover,
	&:active,
	&:focus {
		outline: none!important;
		background: #393e46!important;
		color: $brand-white;
	}
	&.btn-default {
		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
		}
	}
}

// Social
.social {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		a {
			display: table;
			margin: 0 4px;
			width: 40px;
			height: 40px;
			font-size: 16px;
			i {
				display: table-cell;
				vertical-align: middle;
			}
			&:hover,
			&:active,
			&:focus {
				border-bottom: none;
				text-decoration: none;
			}
			&.social-box {
				background: $brand-primary;
				color: $brand-white;
			}
			&.social-circle {
				background: $brand-primary;
				color: $brand-white;

				@include border-radius(50%);
			}
			&:hover {
				background: #393e46!important;
			}
		}
	}
	&.social-box {
		a {
			background: $brand-primary;
			color: $brand-white;
		}
	}
	&.social-circle {
		a {
			background: $brand-primary;
			color: $brand-white;

			@include border-radius(50%);
		}
	}
}

// Components
// Owl Carousel
.owl-carousel {
	.owl-controls .owl-nav {
		opacity: 0;

		@include transition(.5s);
	}
	&:focus,
	&:hover,
	&:active {
		.owl-controls .owl-nav {
			opacity: 1;
		}
	}
	.btn-primary {
		&:hover,
		&:focus,
		&:active {
			border: 2px solid $brand-white!important;
			background: transparent!important;
		}
	}
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls,
{
	margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
	position: absolute;
	top: 50%;
	z-index: 9999;
	margin-top: -29px;

	@include transition(.3s);
	i:before {
		color: rgba(255, 255, 255, .5);
	}
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
	right: 0;
	&:hover {
		right: 10px;
		i:before {
			color: rgba(255, 255, 255, 1);
		}
	}
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
	left: 0;
	&:hover {
		left: 10px;
		i:before {
			color: rgba(255, 255, 255, 1);
		}
	}
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-darker;
	}
	&:hover {
		i {
			color: $brand-black;
		}
	}
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-white;
	}
	&:hover {
		i {
			color: $brand-white;
		}
	}
}

.owl-theme .owl-controls .owl-nav {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none!important;
	i {
		font-size: 30px;
		&:hover,
		&:focus {
			background: none!important;
		}
	}
	&:hover,
	&:focus {
		background: none!important;
	}
}

.owl-theme .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: 0;
	margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	background: rgba(255, 255, 255, .2);

	@include transition(.2s);
	&:hover {
		background: none;
		background: rgba(255, 255, 255, 1);
	}
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	border: 2px solid #fff; // background: none;
	background: rgba(255, 255, 255, 1);
	background: transparent;
}

.owl-carousel-fullwidth {
	.item,
	.fh5co-owl-text-wrap {
		display: table;
		width: 100%;
		height: 800px;
		@media screen and (max-width: $screen-sm) {
			padding: 5em 0;
			height: inherit;
		}
	}
	.fh5co-owl-text-wrap {
		position: relative; // bottom: -5em;
	}
	.item {
		position: relative;
		background-position: top left;
		background-size: cover;
		background-repeat: no-repeat;
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 8;
			background: rgba(0, 0, 0, .5);
		}
		img {
			max-width: 100%;
		}
		.iphone-image {
			position: relative;
			z-index: 99;
			.iphone {
				position: relative;
				bottom: -12em;
				float: right;
				text-align: right;
				@media screen and (max-width: $screen-sm) {
					bottom: 0em;
					display: block;
					float: none!important;
					margin: 0 auto;
					text-align: center;
				}
				img {
					max-width: 100%;
				}
			}
		}
		.fh5co-owl-text {
			position: relative;
			z-index: 10;
			display: table-cell;
			vertical-align: middle;
			@media screen and (max-width: $screen-sm) {
				// padding-top: 5em;
			}
			a {
				border-bottom: 1px solid rgba(255, 255, 255, .5);
				color: rgba(255, 255, 255, 1);
				&:hover {
					border-bottom: 1px solid rgba(255, 255, 255, 1);
					color: rgba(255, 255, 255, 1);
					text-decoration: none;
				}
			}
			.fh5co-lead,
			.fh5co-lead-2,
			.fh5co-sub-lead {
				margin: 0;
				padding: 0;
				color: $brand-white;
			}
			.fh5co-lead {
				margin-top: 0;
				margin-bottom: 20px;
				color: #fff;
				color: $brand-white;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				font-size: 50px;
				line-height: 50px;
				@media screen and (max-width: $screen-sm) {
					margin-bottom: 20px;
					font-size: 30px;
					line-height: 30px;
				}
			}
			.fh5co-sub-lead {
				margin-bottom: 30px;
				color: rgba(255, 255, 255, 1); // font-family: $font-roboto;
				font-weight: 100;
				font-size: 30px;
				line-height: 30px;
				line-height: 42px;
				@media screen and (max-width: $screen-sm) {
					font-size: 24px;
					line-height: 34px;
				}
			}
		}
	}
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
	opacity: 0;
}

// Helper Class
.col-xxs-12 {
	@media screen and (max-width: 480px) {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-md {
	padding-bottom: 4em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-sm {
	padding-bottom: 2em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 2em;
	}
}

// Menu Animate
.fh5co-animated {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}